body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: black;
}


/* HEADERS */

h1 {
    font-size: 3.125rem;
    font-weight: normal;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
}


/* MAIN CONTENT */

.guide p {
    font-size: 1.3125rem;
    color: gray;
}


/* LINKS */

a {
    color: aquamarine;
}


/* DOWNLOADS & FOOTER */

.downloads img {
    margin-top: 2rem;
}

footer {
    text-align: right;
    color: gray;
}